
h1 {
  color: darkcyan;
  margin:0;
  text-align:center;
}
h2 {
  color: darkcyan;
  margin:0;
  text-align:center;
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  color: darkgrey;
  text-align:center;
  margin:0;
}
.card-body{
  text-align:center;
}
.card-title{
  text-align:center;
}
